.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/images/home-hero.webp") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin: 0 0 5rem;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* Van section */

.van-section {
  margin: 2rem;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 700;
  
}

.vans-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.van-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.van-card a {
  color: inherit;
  text-decoration: none;
}

.van-img {
  margin: 0 0 10px;
}
.van-img img {
  width: 100%;
  border-radius: 10px;
}

.main-dtl {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}

.main-dtl p,
.add-dtl p {
  margin: 0;
}

.add-dtl {
  display: flex;
  justify-content: space-between;
}

.type-label {
  color: #fff;
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.type-label.simple {
  background: var(--clr-simple);
}

.type-label.luxury {
  background: var(--clr-luxury);
}

.type-label.rugged {
  background: var(--clr-rugged);
}

.light-txt {
  font-size: 0.7rem;
}

.van-info-section {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.van-info-section img {
  width: 100%;
  border-radius: 5px;
}

.van-details-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1080px) {
 .home-container {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
.home-container a {
  width: unset;
  padding: 0.5rem 2rem;
}

  /*** ABOUT PAGE ***/
.about-page-container {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 1rem;
  margin: 0 0 5rem;
}

.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin: 5rem 2rem;
}

  .vans-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .van-info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .van-info-section .type-label {
    align-self: flex-start;
    padding: 0.5rem 2rem;
    margin: 0;
    font-size: 1.2rem;
  }
}
